**/**/dist
**/**/build
**/**/.next
**/**/.logs
**/**/.vscode
**/**/node_modules

**/**/*.pem
**/**/*.key
**/**/*.crt
**/**/*.zip

**/**/.env*
!**/**/.env.example
**/**/.postman_environment.json

**/**/yarn.lock
**/**/package-lock.json

**/**/next-env.d.ts
